{% extends "base.html" %}
{% set active_page = "quotes" %}
{% block page_title %}报价记录{% endblock %}
{% block page_id %}quotes.list{% endblock %}
{% block page_type %}list{% endblock %}
{% block page_class %}shell wide app-surface{% endblock %}
{% block page_head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='pages/quotes.css', v=static_version('pages/quotes.css')) }}">
{% endblock %}

{% block page_scripts %}
  <script type="module" src="{{ url_for('static', filename='pages/quotes.js', v=static_version('pages/quotes.js')) }}"></script>
{% endblock %}

{% block page_content %}
  <div data-quote-results-host data-quote-results-fragment-url="{{ url_for('quote_web.quotes_fragment') }}" aria-live="polite">
    {% include "_quote_results.html" %}
  </div>
{% endblock %}
